<div class="left-content">
	<div class="view-page">
		<div class="view-title">
			<h2><%= @page.title %></h2>
		</div>
		<div class="main_img">
			<%= image_tag @page.image_url if @page.image_url? %>
		</div>
		<div class="details">
			<ul>
				with&nbsp&nbsp<li><%= @page.admin_users[0].first_name + " " + @page.admin_users[0].last_name%></li>
				<li><%= @page.created_at.to_s(:long) %></li>
			</ul>
		</div>
		<div class="content">
			<% sections = @page.sections.order('position asc').where('visible = true') %>
			<% sections.each do |section| %>
				<h3><%= section.name %></h3>
				<% if section.img_url? %>
					<%= image_tag section.img_url if section.img_url? %><br>
				<% end %>
				<% if section.img_url? %>
					<span><%= section.img_desc %></span>
				<% end %>
				<p><%= section.content.html_safe %></p>
			<% end %>
		</div>
	</div>	
</div>

<div class="right-content">
	<div class="post-wraper">
		<h3>Latest Posts</h3>
		<ul>
			<% @latestPages.each do |page| %>
			<li><%= link_to(page.title, {:action => 'view', :permalink => page.permalink}) %></li>
			<% end %>
		</ul>
	</div>
	<div class="post-wraper">
		<h3>Most Popular Posts</h3>
		<ul>
			<% @popularPages.each do |page| %>
			<li><%= link_to(page.title, {:action => 'view', :permalink => page.permalink}) %></li>
			<% end %>
		</ul>
	</div>
</div>
