<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'public', media: 'all'%>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  
</head>
<body id="public">
	<header>
		<div class="container">
			<div class="logo">
				<div class="icon-logo"><%= image_tag("monk-final.png") %></div>
				<h2 class="title-logo"> The Humble Post </h2>
			</div>
			<div class="nav-wrap">
				<nav>
				<ul>
					<%= link_to("BLOG", :action => 'index' ) %>
					<%= link_to("ABOUT", :action => 'about') %>
					<%= link_to("CONTACT ME", :action => 'contact') %>
				</ul>
				</nav>
				<div class="search">
					<%= form_tag({action: 'index', controller: 'Public' }, method: 'get') do %>
							<%= text_field_tag :search, params[:search], placeholder: "Search Articles"%>
							<%= submit_tag("Search") %>
					<% end %>
				</div>
			</div>
		</div>
	</header>
	
	<div class="wrapper">
		<% if !flash.empty? %>
			<div class="notice">
				<p><%= flash[:notice] %></p>
			</div>
		<% end %>
	 	<%= yield %>
	</div>
	<footer>
		<div class="footer-wrap">
			<div class="copyright">
		 		<p> © 2015, Ashit Rath | All Rights Reserved</p>
		 		
			</div>
			<div class="social-links">
			
			</div>
		</div>
	</footer>
</body>
</html>
