<!DOCTYPE html>
<html>
<head>
  <title>The Humble Post</title>
  <%= stylesheet_link_tag 'public', media: 'all'%>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
</head>
<body class="public-body">
	<header class="mainHeader">
		<div class="logo">
			<%= image_tag("monk.png") %>
			<h2 class="title-logo"> The Humble Post </h2>
		</div>
		<nav>
			<ul>
				<li><%= link_to("BLOG", :action => 'index' ) %></li>
				<li><%= link_to("ABOUT", :action => 'about') %></li>
				<li><%= link_to("CONTACT", :action => 'contact') %></li>
			</ul>
		</nav>
		<div class="search">
			<%= form_tag({action: 'index', controller: 'Public' }, method: 'get') do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search Articles"%>
				<%= submit_tag("Search") %>
			<% end %>
		</div>
	</header>
	
	<div class="mainContent">
		<% if !flash.empty? %>
			<div class="notice">
				<p><%= flash[:notice] %></p>
			</div>
		<% end %>
	 	<%= yield %>
	</div>
	<footer class="mainFooter">
		<p>&copy; 2015, The Humble Post | All Rights Reserved</p>
	</footer>
</body>
</html>
